{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center;color:blue">Bien n° : {{ categorie.id }}
    <h2>{{categorie.libelle}}</h2>
</div>
</br>  
<div class="container">
    <h1 style="text-align:center;background-color:yellow">{{ categorie.biens | length }} biens :</h1> 
    <div class="row">   
        <div class="col-3">
            <h3><strong style="color:blue">Description</strong></h3>
        </div>
        <div class="col-3">
            <h3><strong style="color:blue">Surface (m²)</strong></h3>
        </div>
        <div class="col-3">
            <h3><strong style="color:blue">Etage (ième)</strong></h3>
        </div>
        <div class="col-3">
            <h3><strong style="color:blue">Chambres (nb)</strong></h3>
        </div>
    </div>
    {% for bien in categorie.biens %}    
    <div class="row">
        <div class="col-3">
            {{ bien.description }} 
        </div>
        <div class="col-3">
                {{ bien.surface  }}
        </div>
        {% if bien.etage != null %}
        <div class="col-3">
            {{ bien.etage }}
        </div>
        <div class="col-3">
            {{ bien.chambre }}
        </div>
        {% else %}
        <div class="col-3">
             - 
        </div>
        <div class="col-3">
             - 
        </div>
        {% endif %}
    </div>
    <hr>   
    {% endfor %}
</div> 
          
{% endblock %}