{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Liste de la catégorie{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 id="haut" style="text-decoration:underline;color:blue;text-align:center">Liste de la catégorie</h1>
</div>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th><h2>id</h2></th>
        <th><h2>LibelléCatégorie</h2></th>
        <th><h2>description</h2></th>
        <th><h2>surface</h2></th>
        <th><h2>etage</h2></th>
    </tr>
    {%for categorie in categories %}
        <tr>
            <td>{{ categorie.id }}</td>
            <td>{{ categorie.libelle }}</td>
            <td>{{ categorie.description }}</td>
            <td>{{ categorie.surface }}</td>
            <td>{{ categorie.etage }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}